.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: $full-width;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }

  .theme {
    &.col-1{
        background-color:$info-color;
    }
    &.col-2{
        background-color: $warning-color;
    }
    &.col-3 {
        background-color: $col-3;
    }
    &.col-4 {
        background-color: $col-4;
    }
    &.col-5 {
        background-color: $col-5;
    }
    &.col-6 {
        background-color: $col-6;
    }
    &.col-7 {
        background-color: $col-7;
    }
    &.col-8 {
        background-color: $col-8;
    }
    &.col-9 {
        background-color: $col-6;
    }
    &.col-10 {
        background-color: $success-color;
    }
    &.col-11 {
        background-color: $link-color;
    }
    &.col-12 {
        background-color: $col-12;
    }
  }
  
  
  
  
  .card {
    flex-basis: $full-width;
  }